.movieCard {
  position: relative;
  transition: transform 0.3s ease;
}

.movieCard_img {
  max-height: 180px;
  border-radius: 8px;
}

.movieCard:hover {
  transform: scale(1.15);
  z-index: 5;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: 0.3s;
}

.movieCard:hover .overlay {
  opacity: 1;
}
